<div class="contact-details clearfix">
    <div class="detail">
        <span class="icon">
            <i class="icon fs-lg icon-location"></i>
        </span>
        <span class="info">{{basics.computed_location}}</span>
    </div>

    <div class="detail">
        <span class="icon">
            <i class="icon fs-lg icon-phone"></i>
        </span>
        <span class="info" itemprop="telephone">{{basics.phone}}</span>
    </div>

    <div class="detail">
        <span class="icon">
            <i class="icon fs-lg icon-mail"></i>
        </span>
        <span class="info">
            <a class="link-disguise" href="mailto:{{basics.email}}" itemprop="email">{{basics.email}}</a>
        </span>
    </div>

    <div class="detail">
        <span class="icon">
            <i class="icon fs-lg icon-link"></i>
        </span>
        <span class="info">
            <a href="{{basics.website}}" target="_blank">{{basics.website}}</a>
        </span>
    </div>

    <div class="detail">
        <span class="icon" title="Languages I speak">
            <i class="icon fs-lg icon-language"></i>
        </span>
        {{#each languages}}
        <span class="info" data-toggle="tooltip" title="{{this.fluency}}">{{this.language}},&nbsp;</span>
        {{/each}}
    </div>
</div>