<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
        {{{ css }}}
    </style>
    <title>{{ basics.name }}</title>
</head>

<body itemscope="itemscope" itemtype="http://schema.org/Person">
    <div class="container-fluid">
        <div class="row main clearfix">
            <a class="js-floating-nav-trigger floating-nav-trigger" href="#">
                <i class="icon-bars"></i>
                <span class="close-icon">&times;</span>
            </a>
            
            {{>floating-nav}}

            <section class="col-md-3 card-wrapper profile-card-wrapper affix">
                <div class="card profile-card">
                    <span class="profile-pic-container">
                        <div class="profile-pic">
                            <img class="media-object img-circle center-block" data-src="holder.js/100x100" alt="{{ basics.name }}" src="{{basics.picture}}" itemprop="image" />
                        </div>
                        <div class="name-and-profession text-center">
                            <h3 itemprop="name"><b>{{ basics.name }}</b></h3>
                            <h5 class="text-muted" itemprop="jobTitle">{{ basics.label }}</h5>
                        </div>
                    </span>
                    <hr>
                    {{>contact-details}}
                    <hr>
                    {{>social-links}}
                </div>
            </section>

            <section class="col-md-9 card-wrapper pull-right">
                <div class="card background-card">
                    <h4 class="text-uppercase">Background</h4>
                    <hr/>
                    <div class="background-details">
                        {{>about}}
                        {{>work-experience}}
                        {{>skills}}
                        {{>education}}
                        {{>interests}}
                    </div>
                </div>
            </section>
            
        </div>
    </div>
    {{>scripts}}
</body>

</html>